@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<p class="rounded confirm-message">
    Recovery email has been sent to your address, if it exists in out database.
</p>
<p class="text-center">
    <a asp-action="Login" class="btn btn-dashed">Done</a>
</p>

