@{
    ViewData["Title"] = "Reset password confirmation";
}

<p class="confirm-message rounded">
    Your password has been successfully changed.
</p>
<p class="text-center">
    <a asp-action="Login" class="btn btn-dashed">Back</a>
</p>
