
@{
    ViewData["Title"] = "Bounty Program";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="disclaimer auto rounded dashboard">

    <div class="row">
        <div class="col-12 text-center">
            <a asp-action="Payments" class="btn btn-primary pull-right">Payments</a>
            <a asp-action="Dashboard" class="btn btn-primary pull-left">Dashboard</a>
            <a asp-action="BountyProgram" class="btn btn-success">Bounty program</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <h3>Bounty program</h3>
            <p>
                Synergistically streamline error-free web-readiness after covalent expertise. Assertively synergize proactive synergy for pandemic infomediaries. Compellingly syndicate open-source partnerships and extensible scenarios. Intrinsicly provide access to client-focused schemas for resource maximizing systems. Dramatically envisioneer 24/7 information before distinctive internal or "organic" sources.
                <br /><br />
                Professionally streamline vertical e-business via one-to-one products. Continually extend world-class core competencies before superior applications. Collaboratively procrastinate cooperative models through highly efficient best practices. Intrinsicly revolutionize frictionless leadership skills rather than market-driven leadership skills. Uniquely actualize front-end technologies via client-centered outsourcing.
                <br /><br />
                Continually whiteboard flexible interfaces for principle-centered vortals. Dramatically embrace future-proof.
            </p>
        </div>
    </div>
</div>

