@font-face {
    font-family: 'FKG';
    src: url("../../fonts/FKGrotesk-Regular.woff2") format("woff2"), url("../../fonts/FKGrotesk-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FKG';
    src: url("../../fonts/FKGrotesk-Bold.woff2") format("woff2"), url("../../fonts/FKGrotesk-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FKG-Mono';
    src: url("../../fonts/FKGrotesk-Monospaced.woff2") format("woff2"), url("../../fonts/FKGrotesk-Monospaced.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}